.card {
    border: 2px solid black;
    background-color: black;
    color: cyan;
    width: 200px;
    height: 350px;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px grey;
}

.card--hearts, .card--diamonds {
    color: red;
}

.card__suit {
    width: 200px;
    height: 200px;
    margin-bottom: 100px;
}

.Cards {
    width: 100%;
    flex: 1;
    display: flex;
    overflow-x: auto;
}

@media screen and (min-width: 992px) {
    .Cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-left: 4%;
    }
}